@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utilities */
:root {
  --container-max: 1200px;
}
body { -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }
.container-max { max-width: var(--container-max); }
